html, body { height: 100vh; }

body{
  display: table;
}

div.Character{
  width: 48%;
  display: table-cell;
}
div.scrol{
  overflow-y: scroll;
  resize: horizontal;
  height: 100vh;
}
div.button{
  background-color: brown;
}
div.button:hover{
  cursor: pointer;
}
section>p{
  margin: 0.3rem 0.3rem 0.3rem 0.3rem ;
  margin-left: 0.2rem;
}
h1{
  font-weight:bold;
  background-color: black;
  color: white;
  letter-spacing: 0.1rem;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.2rem 0 0.2rem 0.5rem;
  font-size: 1.5rem;
}
h2{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0.8rem 0;
  padding: 0.15rem 0 0 0.2rem;
  font-size: 1rem;
  font-weight: bolder;
}
span.article{
  font-weight: bolder;
  padding: 0 0.1rem 0 0.1rem ;
}
span.article::after{
  content: ":";
}
table *{
  padding: 0.2rem 0.5rem 0.2rem 0.5rem ;
}
th{
  text-align: center;
  background: #3f3f3f;
  color: #ffffff;
}
th.typeColumn{
  width: 2rem;
}
tbody tr:nth-child(odd){
  background-color: #eee
}
tbody tr:hover{
  background:  #acf2ac !important;
}

td.nameColumn{
  white-space: nowrap;
}
iframe{
  display: block;
  width: 100%;
  height: 30rem;

}
